<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
  <title>修改管理员</title>
  <!-- BOOTSTRAP CORE STYLE  -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <!-- FONT AWESOME ICONS  -->
  <link href="/css/font-awesome.css" rel="stylesheet">
  <!-- CUSTOM STYLE  -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- - : 不转义输出,不会转移html标签  = : 转义输出,会把HTML标签转义为 &gt; -->
  <%- include('./header.ejs',{idx:'listAdmin'}) %>
  <!-- MENU SECTION END-->
  <ul class="breadcrumb">
    <li><a href="#"></a>Home</li>
    <li><a href="#"><%= new Date().getFullYear() %></a></li>
    <li class="active">修改管理员管理</li>
  </ul>
  <div class="content-wrapper">
    <div class="container">
      <form class="form-horizontal" style="width:50%">
        <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">用户名：</label>
          <div class="col-sm-4" id="userId" data-id="<%= userData._id %>">
            <%= userData.username %>
          </div>
        </div>
        <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">原始密码：</label>
          <div class="col-sm-4" id="password" data-id="<%= userData.password %>">
            <input type="password" name="former_pwd" class="form-control" placeholder="请输入原始密码" required>
          </div>
          <div class="col-sm-6 alert former_pwd_test">

          </div>
        </div>
        <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">新密码：</label>
          <div class="col-sm-4">
            <input type="password" name="pwd" class="form-control" placeholder="请输入密码" required>
          </div>
          <div class="col-sm-6 alert pwd_test">

          </div>
        </div>
        <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">重复密码：</label>
          <div class="col-sm-4">
            <input type="password" name="pwd2" class="form-control" placeholder="重复密码" required>
          </div>
          <div class="col-sm-6 alert pwd2_test">

          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3"></div>
          <input type="button" class="btn btn-default save" value="保存">
          <input type="button" class="btn btn-default" value="返回" onclick="history.go(-1)">
        </div>
      </form>
    </div>
  </div>
  <!-- CONTENT-WRAPPER SECTION END-->
  <%- include('./footer.ejs') %>
  <!-- FOOTER SECTION END-->
  <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
  <!-- CORE JQUERY SCRIPTS -->
  <script src="/js/jquery-1.11.1.js"></script>
  <!-- BOOTSTRAP SCRIPTS  -->
  <script src="/js/bootstrap.js"></script>
  <script>
    $('input[name=former_pwd]').on('blur', function () {
      // var pas = <%= userData.password %>;//为啥报错
      var pas = $('#password').attr('data-id');
      var val = $(this).val();
      console.log(val)
      // if( !$(this).val() == pas){
      //   console.log(1);
      // }
      $.ajax({
        url: '/admin/md',
        type: 'put',
        data: {
          val
        },
        success(res) {
          if (res.val == pas) {
            $('.former_pwd_test').removeClass('alert-danger').addClass('alert-success').html('√');
            return false;
          } else {
            $('.former_pwd_test').removeClass('alert-success').addClass('alert-danger').html('原始密码输入错误');
            return false;
          }
        }
      })
    })
    $('input[name=pwd]').on('blur', function () {
      //6-12
      if (!/^[a-z0-9]{6,12}$/.test($(this).val())) {
        $('.pwd_test').removeClass('alert-success').addClass('alert-danger').html('请输入6-12位任意字母数字');
        return false;
      }
      $('.pwd_test').removeClass('alert-danger').addClass('alert-success').html('√');
    });
    $('input[name=pwd2]').on('input', function () {
      if (!$(this).val()) return;
      if ($(this).val() != $('input[name=pwd]').val()) {
        $('.pwd2_test').removeClass('alert-success').addClass('alert-danger').html('密码不一致');
        return false;
      }
      $('.pwd2_test').removeClass('alert-danger').addClass('alert-success').html('√');
    })

    $(function () {
      // console.log($('#userId'));
      var _id = $('#userId').attr('data-id');
      $('.save').on('click', function () {
        if (!$('input[name=pwd]').val()) {
          alert('密码不能为空');
          return;
        }
        if (!$('input[name=pwd2]').val()) {
          alert('密码不能为空');
          return;
        }
        let password = $('input[name=pwd]').val();
        $.ajax({
          url: '/admin/' + _id,
          type: 'post',
          data: {
            password
          },
          success(res) {
            console.log(res);
            if (res) {
              alert('修改成功');
            } else {
              alert('修改失败');
            }
            window.location = '/admin/listAdmin';
          }
        })
      })
    })
  </script>
</body>

</html>